{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>
<body>
<div class="content py-5  bg-light"
     style="background-image: url('{% static 'images/pexels-photo-2363809.jpeg' %}'); background-repeat: round; height: auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <span class="anchor" id="formContact"></span>
                <!-- form user info -->
                <div class="card card-outline-secondary">
                    <div class="col-3">
                        <img src="{% static 'images/silkway-technics.55.small.jpg' %}">
                    </div>
                    <div class="col-9">
                        <div class="card-header">
                            <h3 class="mb-0">Online Hazard/safety Event <br> Voluntary Reporting</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <fieldset>
                                {% for form in form %}
                                    <label for="{{ form.id_for_label }}" class="mb-0">{{ form.label }}</label>
                                    <div class="row mb-1">
                                        <div class="col-lg-12">
                                            {{ form }}
                                        </div>
                                    </div>
                                {% endfor %}
                                {#                                <label for="email2" class="mb-0">Email</label>#}
                                {#                                <div class="row mb-1">#}
                                {#                                    <div class="col-lg-12">#}
                                {#                                        <input type="text" name="email2" id="email2" class="form-control" required="">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                                #}
                                {#                                <label for="message2" class="mb-0">Message</label>#}
                                {#                                <div class="row mb-1">#}
                                {#                                    <div class="col-lg-12">#}
                                {#                                        <textarea rows="6" name="message2" id="message2" class="form-control"#}
                                {#                                                  required=""></textarea>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <button type="submit" class="btn btn-secondary btn-lg float-right">Send Message</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <!-- /form user info -->

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>